html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  background-color: #fdfafa;
  padding: 0;
  margin: 0; }

h1, h2 {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif; }

p, a, b {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

p, b {
  color: #fdfafa; }

a {
  color: #d84841;
  text-decoration: none; }

.content {
  width: 100%;
  background-color: #2c2c2e;
  padding-top: 60px;
  padding-bottom: 60px; }
  .content .container {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }
    .content .container::after {
      clear: both;
      content: "";
      display: table; }

.scrolling-content {
  width: 100%;
  height: 500px;
  background-color: #2c2c2e;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow-y: auto; }
  .scrolling-content .container {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }
    .scrolling-content .container::after {
      clear: both;
      content: "";
      display: table; }

.dummy {
  height: 500px;
  width: 100%;
  background-color: #2c2c2e; }

a.anchor {
  display: block;
  position: relative;
  top: -25px;
  visibility: hidden; }

.sliding-panel-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background: #2c2c2e;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-220px);
  transition: all .2s ease-in;
  z-index: 999999; }
  .sliding-panel-content ul {
    padding: 0;
    margin: 0; }
  .sliding-panel-content .face-container {
    height: 150px;
    width: 220px; }
  .sliding-panel-content .face {
    width: 130px;
    height: 130px;
    margin: 10px 45px;
    border-radius: 50%;
    border: 1px solid #fdfafa;
    background-image: url(../images/photo/hugh.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .sliding-panel-content li {
    list-style: none; }
  .sliding-panel-content li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none; }
    .sliding-panel-content li a:focus {
      background-color: #38383b;
      color: #d84841; }
    .sliding-panel-content li a:hover {
      background-color: #fdfafa;
      color: #d84841; }
  .sliding-panel-content.is-visible {
    transform: translateX(0); }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in;
  visibility: hidden;
  z-index: 999998; }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.6;
    visibility: visible; }

.sliding-panel-button {
  cursor: pointer;
  position: fixed;
  height: 50px;
  width: 50px;
  top: 30px;
  left: 90px;
  z-index: 99;
  border-radius: 50%; }
  @media screen and (max-width: 1050px) {
    .sliding-panel-button {
      left: 45px; } }
  @media screen and (max-width: 950px) {
    .sliding-panel-button {
      left: 23px; } }
  @media screen and (max-width: 900px) {
    .sliding-panel-button {
      left: 5px; } }

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/logo/menu-icon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.15s ease-in; }

.informatics {
  height: 110px;
  width: 100%;
  background-color: #fdfafa; }
  .informatics a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px; }
  .informatics .logo-informatics {
    width: 80%;
    height: 110px;
    margin: auto auto;
    background-image: url(../images/logo/informatics.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

.hero {
  width: 100%;
  height: 480px;
  background-image: url(../images/photo/hero.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .hero .title {
    width: 300px;
    height: 100px;
    border: 2px solid #2c2c2e;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -150px;
    background-color: #fdfafa;
    opacity: .8; }
    .hero .title h1 {
      color: #2c2c2e;
      text-align: center;
      line-height: 100px; }

.sections {
  width: 100%;
  height: 60px;
  background-color: #d84841;
  z-index: 10;
  position: relative; }
  .sections h2 {
    color: #fdfafa;
    text-align: center;
    line-height: 60px; }
  .sections .binary {
    position: absolute;
    right: 10px;
    top: -38px;
    font-size: 60px;
    opacity: .7; }

.current-icon {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #fdfafa;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 60px; }

.spacer {
  width: 100%;
  height: 60px; }

.intro-face {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #fdfafa;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

#hugh {
  background-image: url(../images/photo/hugh.jpeg);
  margin-bottom: 60px; }

#skyle {
  background-image: url(../images/photo/skyle.jpeg); }

#wogilvie {
  background-image: url(../images/photo/wogilvie.jpeg); }

#pmpeis {
  background-image: url(../images/photo/pmpeis.jpeg); }

#blank {
  background-image: url(../images/photo/blank.png); }

#comp {
  background-image: url(../images/photo/compucast.png); }

.icon {
  animation: pulseAnimation 10s infinite;
  -webkit-animation: pulseAnimation 10s infinite; }
@keyframes pulseAnimation {
  0% {
    opacity: .3; }
  50% {
    opacity: .3; }
  75% {
    opacity: .9; }
  100% {
    opacity: .3; } }
.half {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  margin-bottom: 60px; }
  .half:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .half {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .half:last-child {
        margin-right: 0; } }

.sub-sections {
  width: 100%;
  height: 60px;
  background-color: #fdfafa;
  z-index: 10;
  position: relative; }
  .sub-sections h2 {
    color: #d84841;
    text-align: center;
    line-height: 60px; }

.expander {
  width: 100%; }
  .expander .expander-trigger {
    color: #d84841;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-bottom: 30px;
    padding-bottom: 0.25em;
    text-decoration: none;
    user-select: none; }
    .expander .expander-trigger::before {
      content: "\25BC";
      font-size: 0.7em;
      margin-right: 0.5em; }
  .expander .expander-content p {
    color: #fdfafa;
    line-height: 1.2em; }
  .expander .expander-hidden::before {
    content: "\25BA";
    font-size: 0.7em; }
  .expander .expander-hidden + .expander-content {
    display: none; }

#footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fdfafa; }
  #footer #oddsok {
    color: #2c2c2e;
    text-align: center;
    font-size: 12px; }
  #footer .container {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }
    #footer .container::after {
      clear: both;
      content: "";
      display: table; }
    #footer .container .footer-division {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      padding-bottom: 30px; }
      #footer .container .footer-division:last-child {
        margin-right: 0; }
      @media screen and (max-width: 800px) {
        #footer .container .footer-division {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 82.9403914003%;
          margin-left: 8.5298042998%; }
          #footer .container .footer-division:last-child {
            margin-right: 0; } }
      #footer .container .footer-division p {
        color: #d84841;
        text-align: right; }
        @media screen and (max-width: 800px) {
          #footer .container .footer-division p {
            text-align: center; } }

.container {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container .member {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 30.9085851714%;
    align-content: center;
    text-align: center;
    margin-bottom: 60px; }
    .container .member:last-child {
      margin-right: 0; }
    @media screen and (max-width: 760px) {
      .container .member {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 47.1152133411%; }
        .container .member:last-child {
          margin-right: 0; } }
    .container .member a {
      font-size: 16px;
      margin-top: 15px;
      color: #d84841; }
    .container .member p {
      font-size: 12px; }
  .container .current {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .container .current:last-child {
      margin-right: 0; }
    .container .current .current-icon {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin: auto; }
      .container .current .current-icon:last-child {
        margin-right: 0; }
    .container .current .current-name {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .container .current .current-name:last-child {
        margin-right: 0; }
    .container .current .current-bio {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .container .current .current-bio:last-child {
        margin-right: 0; }

.pub {
  padding-bottom: 30px;
  opacity: .2;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s; }
  .pub p, .pub a {
    font-size: 13px; }
  .pub.active {
    opacity: 1;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s; }

.head {
  padding-bottom: 30px; }

.lists {
  padding-top: 30px; }
  .lists p, .lists a {
    font-size: 13px; }
