doctype html
html
	head
		title Hugh Leather Informatics Edinburgh
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="icon", type="image/ico", href="images/logo/informatics.ico")
		link(rel="stylesheet", href="css/style.css")
		link(href="https://fonts.googleapis.com/css?family=PT+Sans|Raleway" rel="stylesheet")
	body
	
		.js-menu-trigger.sliding-panel-button
			.icon
			
		nav.js-menu.sliding-panel-content
			.face-container
				.face
			ul
				li
					a(href="#intro") Intro
				li
					a(href="#prospective-students") Prospective Students
				li
					a(href="#research") Research
				li
					a(href="#team") Team
				li
					a(href="#compucast") Compucast
				li
					a(href="#teaching") Teaching
				li
					a(href="#publications") Publications
				li
					a(href="#awards") Awards
				li
					a(href="#contact") Contact
				
		
		.js-menu-screen.sliding-panel-fade-screen
		
		.informatics
			a(href="http://www.ed.ac.uk/informatics/")
			.logo-informatics
			
		.hero
			.title
				h1 HUGH LEATHER
				
		#intro.sections
			h2 Intro
			p.binary 1
			
		.content
			.container
				#hugh.intro-face
				
				p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam <a href="">praesent sequitur nobis </a>enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta <a href="">quinta lectorum accumsan </a>vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
				
		#prospective-students.sections
			h2 Prospective Students
			p.binary 10
			
		.content
			.container
				.half
					p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam <a href="">praesent sequitur nobis </a>enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta <a href="">quinta lectorum accumsan </a>vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
					
				.half
					p Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam <a href="">praesent sequitur nobis </a>enim. Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate.  Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at.
					
			.container
				.expander
					a.expander-trigger.expander-hidden(href="javascript:void(0)") Tips on applying
					.expander-content
						p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam <a href="">praesent sequitur nobis </a>enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at.
						
		#research.sections
			h2 Research
			p.binary 11
				
			
		.dummy
		
		#team.sections
			h2 Team
			p.binary 100
			
		.sub-sections
			h2 Current Crop
			
		.content
			.container
				.member
					#skyle.intro-face
					a(href="http://homepages.inf.ed.ac.uk/s0562338/") Stephen Kyle
					p<a href"http://homepages.inf.ed.ac.uk/s0562338/"></a>
					p PhD Student
					
				.member
					#blank.intro-face
					a(href="javascript:void(0)") Volker Seeker
					p PhD Student
				
				.member
					#wogilvie.intro-face
					a(href="http://homepages.inf.ed.ac.uk/s0198982/") William Ogilvie
					p PhD Student
					
				.member
					#blank.intro-face
					a(href="javascript:void(0)") Chad Verbowski
					p PhD Student
					
				.member
					#blank.intro-face
					a(href="javascript:void(0)") Chris Cummins
					p PhD Student
					
				.member
					#pmpeis.intro-face
					a(href="http://paschalis.mp/") Paschalis Mpeis
					p PhD Student
			
		.sub-sections
			h2 Onwards and Upwards
			
		.content
			.container
				#blank.current-icon
				.current-name
					a(href="javascript:void(0)") John Doe
				.current-bio
					p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta quinta lectorum accumsan vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
					
				.spacer
				
				#blank.current-icon
				.current-name
					a(href="javascript:void(0)") Jane Snow
				.current-bio
					p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta quinta lectorum accumsan vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
				
			
		#compucast.sections
			h2 Compucast
			p.binary 101
			
		.content
			.container
				#comp.current-icon
				.current-name
					a(href="http://compucast.io/") Compucast
				.current-bio
					p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta quinta lectorum accumsan vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
				
		#teaching.sections
			h2 Teaching
			p.binary 110
			
		.content
			.container
				p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta quinta lectorum accumsan vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
				
				.lists
					b Dignissim assum consequat futurum liber aliquam.
					p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
					a a link
					
				.lists
					b Dignissim assum consequat futurum liber aliquam.
					p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
					a a link
					
				.lists
					b Dignissim assum consequat futurum liber aliquam.
					p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
					a a link
				
		#publications.sections
			h2 Publications
			p.binary 111
				
			
		.scrolling-content
			.container
				.head
					b Papers
					
				.pub.active
					b 1 Towards Collaborative Performance Tuning of Algorithmic Skeletons
					p Christoper Cummins and Pavlos Petoumenos and Michel Stewer and Hugh Leather
					p Proceedings of the International Workshop on High-Level Programming for Heterogeneous and Hierarchical Parallel Systems (HLPGPU 2016)
					p January 2016 Prague, Czech Republic
					p <a href="">bibtex </a>| <a href="">abstract</a>
					
				.pub.active
					b 2 Iterative Compilation on Mobile Devices
					p Paschalis Mpeis and Pavlos Petoumenos and Hugh Leather
					p Proceedings of the 6th International Workshop on Adaptive Self-tuning Computing Systems (ADAPT 2016)
					p January 2016 Prague, Czech Republic
					p <a href="">bibtex </a>| <a href="">abstract</a>
					
				.pub.active
					b 3 Autotuning OpenCL Workgroup Size for Stencil Patterns
					p Christoper Cummins and Pavlos Petoumenos and Michel Stewer and Hugh Leather
					p Proceedings of the 6th International Workshop on Adaptive Self-tuning Computing Systems (ADAPT 2016)
					p January 2016 Prague, Czech Republic
					p <a href="">bibtex </a>| <a href="">abstract</a>
					
				.pub.active
					b 4 On the Inference of User Paths from Anonymized Mobility Data
					p Galini Tsoukaneri and George Theodorakopoulos and Hugh Leather and Mahesh K. Marina
					p Proceedings of the 1st IEEE European Symposium on Security and Privacy (EuroS&P 2016)
					p March 2016 Saarbrücken, Germany
					p <a href="">bibtex </a>| <a href="">abstract</a>
					
				.pub.active
					b 5 Power Capping: What Works, What Does Not
					p Pavlos Petoumenos and Lev Mukhanov and Zheng Wang and Hugh Leather and Dimitrios Nikolopoulos
					p Proceedings of the 21st IEEE International Conference on Parallel and Distributed Systems (ICPADS), 2015
					p December 2015 Melbourne, Australia
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf)</a>
				
				.pub.active
					b 6 Application of Domain-aware Binary Fuzzing to Aid Android Virtual Machine Testing
					p Stephen Kyle and Hugh Leather and Bjorn Franke and Dave Butcher and Stuart Monteith
					p Proceedings of the 2015 International Conference on Virtual Execution Environments (VEE'15)
					p March 2015 Istanbul, Turkey
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf)</a>
				
				.pub.active
					b 7 Intelligent Heuristic Construction with Active Learning
					p William F Ogilvie and Pavlos Petoumenos and Zheng Wang and Hugh Leather
					p Proceedings of Compilers for Parallel Computing (CPC) 2015
					p January 2015 London, England
					p <a href="">bibtex </a>| <a href="">abstract</a>
				
				.pub.active
					b 8 Measuring QoE of Interactive Workloads and Characterising Frequency Governors on Mobile Devices
					p Volker Seeker and Pavlos Petoumenos and Hugh Leather and Bjorn Franke
					p IISWC '14: Proceedings of the 2014 IEEE International Symposium on Workload Characterization (BEST PAPER!)
					p October 2014 Raleigh, North Carolina, USA
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf) </a>| <a href="">presentation (pptx) </a>| <a href="">video for presentation - sample workload </a>| <a href="">video for presentation - auto replay</a>
				
				.pub.active
					b 9 Fast Automatic Heuristic Construction Using Active Learning
					p William F. Ogilvie and Pavlos Petoumenos and Zheng Wang and Hugh Leather
					p LCPC '14: Proceedings of the Workshop on Languages and Compilers for Parallel Computing
					p 15 September 2014 Hillsboro, Oregan, USA
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf)</a>
				
				.pub.active
					b 10 Automatic Feature Generation for Machine Learning--based Optimising Compilation
					p Hugh Leather and Edwin Bonilla and Michael O'Boyle
					p ACM Trans. Archit. Code Optim. 11 1 14:1--14:32
					p Feb 2014
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (acm)</a>
				
				.pub.active
					b 11 Auto-tuning Parallel Skeletons
					p Alexander Collins and Christian Fensch and Hugh Leather
					p Parallel Processing Letters (PPL) 22 2 1240005-1--16
					p June 2012
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf)</a>
				
				.pub.active
					b 12 Efficiently Parallelizing Instruction Set Simulation of Embedded Multi-Core Processors Using Region-based Just-in-Time Dynamic Binary Translation
					p Stephen Kyle and Igor Bohm and Bjorn Franke and Hugh Leather and Nigel Topham
					p LCTES '12: Proceedings of the ACM SIGPLAN/SIGBED 2009 Conference on Languages, Compilers, and Tools for Embedded Systems
					p 12 June 2012 Beijing, China
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf)</a>
				
				.pub.active
					b 13 Optimization Space Exploration of the FastFlow Parallel Skeleton Framework
					p Alexander Collins and Christian Fensch and Hugh Leather
					p HLPGPU '12: Proceedings of High-Level Programming for Heterogeneous and Hierarchical Parallel Systems
					p 23 January 2012 Paris, France
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf)</a>
					
				.pub.active
					b 14 Raced Profiles: Efficient Selection of Competing Compiler Optimizations
					p Hugh Leather and Michael O'Boyle and Bruce Worton
					p LCTES '09: Proceedings of the ACM SIGPLAN/SIGBED 2009 Conference on Languages, Compilers, and Tools for Embedded Systems
					p 25-28 June 2009 Dublin, Ireland
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf) </a>| <a href="">slides (open office)</a>
					
				.pub.active
					b 15 Automatic Feature Generation for Machine Learning Based Optimizing Compilation
					p Hugh Leather and Edwin Bonilla and Michael O'Boyle
					p CGO '09: Proceedings of the International Symposium on Code Generation and Optimization
					p March 2009 Seattle, United States of America
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper(pdf) </a>| <a href="">slides (open office) </a>| <a href="">slides (no animation)</a>
					
				.pub.active
					b 16 MILEPOST GCC: machine learning based research compiler
					p Grigori Fursin and Cupertino Miranda and Olivier Temam and Mircea Namolaru and Elad Yom-Tov and Ayal Zaks and Bilha Mendelson and Phil Barnard and Elton Ashton and Eric Courtois and Francois Bodin and Edwin Bonilla and John Thomson and Hugh Leather and Chris Williams and Michael O'Boyle 
					p Proceedings of the GCC Developers' Summit
					p June 2008 Ottawa, Canada
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf)</a>
					
				.pub.active
					b 17 Automatic Feature Generation for Setting Compilers Heuristics
					p Hugh Leather and Elad Yom-Tov and Mircea Namolaru and Ari Freund
					p SMART'08: 2nd Workshop on Statistical and Machine learning approaches to ARchitectures and compilaTion
					p January 2008 Göteborg, Sweden
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf) </a>| <a href="">slides (open office)</a>
					
				.pub.active
					b 18 Emergency Evacuation using Wireless Sensor Networks
					p Barnes M and Leather H and Arvind D K
					p Proceedings of the 32nd IEEE Conference on Local Computer Networks (LCN 2007) - Volume 00
					p 2007
					p <a href="">bibtex </a>| <a href="">abstract </a>| <a href="">paper (pdf)</a>
					
				.head
					b Invited Talks
					
				.pub.active
					b 1 How to Give a Research Presentation
					p SICSA Conference 2012
					p 21 June 2012 Glasgow, Scotland
					p <a href="">slides (open office) </a>| <a href="">slides (pdf)</a>
					
				.pub.active
					b 2 Machine Learning, Compilers and Mobile
					p Department of Computer Science
					p 15 May 2012 St.Andrews, Scotland
					p <a href="">slides (open office) </a>| <a href="">slides (pdf)</a>
					
				.pub.active
					b 3 Machine Learning, Compilers and Mobile
					p Department of Computer Science
					p 29 February 2012 Manchester, Scotland
					p <a href="">slides (open office) </a>| <a href="">slides (pdf)</a>
					
				.pub.active
					b 4 How to Give a Research Presentation
					p PhD Induction 2011
					p 21 October 2011 Firbush, Scotland
					p <a href="">slides (open office) </a>| <a href="">slides (pdf)</a>
					
				.pub.active
					b 5 How to Give a Research Presentation
					p SICSA Conference 2011
					p 24 May 2011 Edinburgh, Scotland
					p <a href="">slides (open office) </a>| <a href="">slides (pdf)</a>
					
				.pub.active
					b 6 Machine Learning in Compilers
					p ACES, University of Texas
					p 27 May 2009 Austin, Texas, USA
					p <a href="">slides (open office)</a>
					
				.pub.active
					b 7 Machine Learning in Compilers
					p Rice University
					p 26 May 2009 Houston, Texas, USA
					p <a href="">slides (open office)</a>
					
				.pub.active
					b 8 Machine Learning in Compilers
					p Google Technical Talks
					p 21 May 2009 Mountain View, California, USA
					p <a href="">slides (open office)</a>
					
				.pub.active
					b 9 Learning Compilers for Configurable Processors
					p Korea-EU Cooperation Forum on ICT
					p 16-17 June 2008 Seoul, S. Korea
					p <a href="">slides (pdf)</a>
					
				.head
					b Thesis
					
				.pub.active
					b PhD Thesis - Machine Learning in Compilers
					p Supervisor - Michael O'Boyle
					p <a href="">thesis (pdf)</a>
		
		#awards.sections
			h2 Awards
			p.binary 1000
				
		.content
			.container
				p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam.
				
				.lists
					b Dignissim assum consequat futurum liber aliquam.
					p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
					a a link
					
				.lists
					b Dignissim assum consequat futurum liber aliquam.
					p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
					a a link
					
				.lists
					b Dignissim assum consequat futurum liber aliquam.
					p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
		
		#contact.sections
			h2 Contact
			p.binary 1001
		
		#footer
			.container
				.footer-division
					p HUGH LEATHER
					br
					p School of Informatics
					p Room 1.11, Informatics Forum
					p 10 Crichton Street
					p Edinburgh
					p EH8 9AB
					p United Kingdom
					br
					p +44 (0)131 650 2707
					br
					p hleather at inf dot ed dot ac dot uk
					
				.footer-division
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.2686905755113!2d-3.189598984163583!3d55.94471478060516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c78447fcdee1%3A0xb4769668986c5918!2s10+Crichton+St%2C+Edinburgh+EH8+9AB!5e0!3m2!1sen!2suk!4v1466159639632" width="100%" height="222" frameborder="0" style="border:0" allowfullscreen></iframe>
			p#oddsok Copyright &copy; 2016. All rights reserved. Design by <a href="http://www.oddsok.com"> oddsok</a>

		script(style="text/javascript" src="js/jquery-2.1.4.min.js")
		script(style="text/javascript" src="js/functions.js")

		
	