.content
    .container
        #comp.current-icon
        .current-name
            a(href="http://compucast.io/") Compucast
        .current-bio
            p.
                CompuCast is a podcast for computer scientists and anyone with a taste for delving deeper into understanding computers and
                their related technologies.
            p   <a href="http://compucast.io/?post_type=podcast">Podcasts</a> <a href="http://compucast.io/?feed=podcast">RSS</a>
            hr
            p.
                A few years ago I couldn't find any podcasts for computer scientists. There were lots for the other sciences and a few for
                engineers, but none for us. Honestly it was getting to the stage that if <span title="I fully believe that climate change
                is human made, and that it is a serious problem - just in case you think I'm a climate change denier!">I had to listen to
                another story about global warming I think I was going to set fire to a polar bear!</span>
            p.  
                So, myself and a few friends decided to do something about it - Compucast was born! We set out to produce an interesting
                and varied show aimed specifically at those with a reasonable level of understanding of computer science: we don't want to
                dance around the detail, we want to embrace it and really learn something.
            p.
                In each show correspondents with some expertise in the field will present several recently published and thoroughly
                researched computer-science related features. The idea is then to intertwine the nitty gritty detail of these with some
                more light-hearted topics (jokes and a quiz) so that we don't lose anyone as the show progresses. We will also present a
                news section that will guide you through the innovative, the surreal and the absurd of the previous few months.
            p.
                If this sounds like something you can be entertained by, then listen to our latest podcast, at <a
                href="http://compucast.io/">compucast.io</a>. By the way, that is the new swanky website made by Zheng Wang. The old, ugly
                one, made by me is still around at <a href="http://compucast.inf.ed.ac.uk/">compucast.inf.ed.ac.uk</a>.
            p.
                Compucast has changed a bit over the years. For a couple of years after my daughter was born I didn't have time for it, so
                it languished for a bit. Now we're back with a new, enthusiastic team. The show is also now a joint collaboration between
                three universities, the <a href="http://www.inf.ed.ac.uk">University of Edinburgh</a>, the 
                <a href="http://www.lancaster.ac.uk/">University of Lancaster</a>, and the 
                <a href="https://www.st-andrews.ac.uk/">University of St Andrews</a>.
