#footer
    .container
        .footer-division
            p HUGH LEATHER
            br
            p School of Informatics
            p Room 1.10, Informatics Forum
            p 10 Crichton Street
            p Edinburgh
            p EH8 9AB
            p United Kingdom
            br
            p +44 (0)131 650 2707
            br
            p hleather at inf dot ed dot ac dot uk
            
        .footer-division
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.2686905755113!2d-3.189598984163583!3d55.94471478060516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c78447fcdee1%3A0xb4769668986c5918!2s10+Crichton+St%2C+Edinburgh+EH8+9AB!5e0!3m2!1sen!2suk!4v1466159639632" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
