doctype html
html
    head
        title Hugh Leather Informatics Edinburgh
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        <html lang="en">
        link(rel="icon", type="image/ico", href="images/logo/informatics.ico")
        link(rel="stylesheet", href="css/style.css")
        link(href="https://fonts.googleapis.com/css?family=PT+Sans|Raleway" rel="stylesheet")
    body
    
        .js-menu-trigger.sliding-panel-button
            .icon
            
        nav.js-menu.sliding-panel-content
            .face-container
                .face
            ul
                include /menu.pug                
        
        .js-menu-screen.sliding-panel-fade-screen
        
        .informatics
            .logo-informatics
                a(href="http://www.ed.ac.uk/informatics/")
            
        .hero
            .title
                h1 HUGH LEATHER
                
        include /sections.pug
        
        .content
            .container
                .expander
                    a.expander-trigger.expander-hidden(href="javascript:void(0)") Expenses
                    .expander-content
                        p.
                            I always tell my student when they ask how to do expenses, that they should not be embarrassed if there claims
                            were made public. So, here are mine. I may occasionally forget to upload a batch, but they will arrive
                            eventually.
                        
                        include /joined-expenses.html
            .container
        
                p.
                     This website has been designed by my very good friend, Ed Brooke.  
                     If you like a website built for you, he's your guy! He can be found at <a href="http://www.oddsok.com">www.oddsok.com</a>.
                     Thanks so much for the Website, Ed!
                p#oddsok Copyright &copy; 2016. All rights reserved. Design by <a href="http://www.oddsok.com"> oddsok</a>

        script(style="text/javascript" src="js/jquery-2.1.4.min.js")
        script(style="text/javascript" src="js/functions.js")

        
    