.content
    .container
        #hugh.intro-face
        
        p.
             I am a lecturer (assistant professor) in the School of Informatics at the University of Edinburgh. 
             I am a member of the <a href="http://www.icsa.informatics.ed.ac.uk/compilers/">CARD</a> group and of the
             <a href="http://wcms.inf.ed.ac.uk/icsa/news/arm-centre-of-excellence-phd-studentships">Edinburgh ARM Center of Excellence</a>.
             I am a Royal Academy of Engineering / EPSRC Research Fellow.
             I am a Chancellor's Fellow of the University of Edinburgh.        
             Previously, I worked for a while in industry, for Microsoft in Seattle and Trilogy in Austin.