.content
    .container
        p.
            Do you want to do a PhD? I love to be the advisor for great students. Have a look at my <a href="#research">research areas</a>  
            below. If any of those grab you, then shoot me an email. It is nearly always possible to find money for good students.  Make 
            sure you have a look at the advice below.
    .container
        .expander
            a.expander-trigger.expander-hidden(href="javascript:void(0)") Tips on applying and having a successful PhD
            .expander-content
                p.
                    A PhD is a long degree, probably it will be 4 years of your life. And, different from your first, taught degree, it is
                    extremely specialised on one or two areas. That is a long time to spend on something if it does not excite you.
                p. 
                    So, the first thing is to ask yourself why you want a PhD. There are lots of reasons people have, but the best reason,
                    in my opinion is that you really, really want to explore some area or question in computer science.
