.content
    .container
        p.
            Do you want to do a PhD? I love to be the advisor for great students. Have a look at my research areas below 
    .container
        .half
            p boo
        .half
            p fop
    .container
        .expander
            a.expander-trigger.expander-hidden(href="javascript:void(0)") Tips on applying
            .expander-content
                p
