.content
    .container
        p.
            My research is about improving the energy consumption and performance of computers, ranging from mobile systems to data centres.
            The energy used by the World's computers is staggering and growing exponentially. If we don't do something to fix it we are
            going to need a nuclear power station on every street corner just so we can all stalk each other on Facebook.
        p.
            My work often uses <b>machine learning</b> and <b>deep learning</b> to discover new ways to optimise programs and systems. 

        ul
            li Mobile Systems
            li Compiler Optimisation
            li Power and Energy Optimisation
            li Runtime Adaptation and Dynamic Runtime Optimisation
            li Heterogeneous Parallelism Optimisation
            li GPGPU Optimisation
            li Auto-tuning and Machine Learning Techniques

        p. 
            A list of some ongoing projects is below.
    include /projects.pug