.content
    .container
        .lists
            b UG4 and MSc - Compiler Optimisation
            p.
                This course introduces students to modern techniques in efficient implementation of programming languages. Modern
                processors and systems are designed based on the assumption that a compiler will be able to effectively exploit
                architectural resources. This course will examine in detail techniques to exploit instruction level parallelism, memory
                hierarchy and higher level parallelism. It will examine classic static analysis approaches to these problems and introduce
                newer feedback directed and dynamic approaches to optimisation. The course work will require students to implement selected
                optimisations in a research compiler.
            a( href="http://www.inf.ed.ac.uk/teaching/courses/copt/") Course page
            
        .lists
            b Programming Club
            p.
                It is quite possible to finish an undergraduate CS degree at Edinburgh without having done a huge amount of programming.
                The purpose of the of the course is not to turn students into programmers, but rather to give them the very important
                theoretical skills that make decent programmers into extraordinary programmers. We leave learning to be an expert in at
                least one programming language to the students to do in their own time. After all, if we were determined to teach that to
                students, there wouldn't be any time left over for the theoretical things. Unfortunately, this can lead to a rather rude
                awakening for students who haven't learned programming on their own time when they go out to try and get a job.
            p.
                So, I run a completely voluntary, no credits course/club for students to get more practice. Once a week during term time
                we have a couple of hours in an informal, relaxed lab where we offer different challenges for students to attack. We have
                programming competitions, short projects, talks, and guest speakers. There should be something for everyone at whatever 
                stage they are at. The hope is that students will find something in the class to inspire them and then take it further
                during their free time. So far, feedback has been that students find the course fun, interesting, and useful - phew!
            a( href = "https://github.com/vsee/uoe_programmingclub" ) GitHub Repository
            p
            a( href = "https://mlist.is.ed.ac.uk/lists/info/pgclub" ) Mailing List