doctype html
html
    head
        title Hugh Leather Informatics Edinburgh
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        <html lang="en">
        link(rel="icon", type="image/ico", href="images/logo/informatics.ico")
        link(rel="stylesheet", href="css/style.css")
        link(href="https://fonts.googleapis.com/css?family=PT+Sans|Raleway" rel="stylesheet")
    body
    
        .js-menu-trigger.sliding-panel-button
            .icon
            
        nav.js-menu.sliding-panel-content
            .face-container
                .face
            ul
                li
                    a(href="#intro") Intro
                li
                    a(href="#prospective-students") Prospective Students
                li
                    a(href="#research") Research
                li
                    a(href="#team") Team
                li
                    a(href="#compucast") Compucast
                li
                    a(href="#teaching") Teaching
                li
                    a(href="#publications") Publications
                li
                    a(href="#awards") Awards
                li
                    a(href="#contact") Contact
                
        
        .js-menu-screen.sliding-panel-fade-screen
        
        .informatics
            .logo-informatics
                a(href="http://www.ed.ac.uk/informatics/")
            
        .hero
            .title
                h1 HUGH LEATHER
                
        #intro.sections
            h2 Intro
            p.binary 1
            
        .content
            .container
                #hugh.intro-face
                
                p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam <a href="">praesent sequitur nobis </a>enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta <a href="">quinta lectorum accumsan </a>vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
                
        #prospective-students.sections
            h2 Prospective Students
            p.binary 10
            
        .content
            .container
                .half
                    p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam <a href="">praesent sequitur nobis </a>enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta <a href="">quinta lectorum accumsan </a>vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
                    
                .half
                    p Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam <a href="">praesent sequitur nobis </a>enim. Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate.  Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at.
                    
            .container
                .expander
                    a.expander-trigger.expander-hidden(href="javascript:void(0)") Tips on applying
                    .expander-content
                        p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam <a href="">praesent sequitur nobis </a>enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at.
                        
        #research.sections
            h2 Research
            p.binary 11
                
        .content
            .container
                p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta quinta lectorum accumsan vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
                
                .lists
                    b Dignissim assum consequat futurum liber aliquam.
                    p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
                    a a link
                    
                .lists
                    b Dignissim assum consequat futurum liber aliquam.
                    p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
                    a a link
                    
                .lists
                    b Dignissim assum consequat futurum liber aliquam.
                    p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
                    a a link
        
        include /team.pug
        
        #team.sections
            h2 Team
            p.binary ***
            
        .sub-sections
            h2 Current Crop
            
        .content
            .container
                .member
                    #skyle.intro-face
                    a(href="http://homepages.inf.ed.ac.uk/s0562338/") Stephen Kyle
                    p PhD Student
                    
                .member
                    #blank.intro-face
                    a(href="javascript:void(0)") Volker Seeker
                    p PhD Student
                
                .member
                    #wogilvie.intro-face
                    a(href="http://homepages.inf.ed.ac.uk/s0198982/") William Ogilvie
                    p PhD Student
                    
                .member
                    #blank.intro-face
                    a(href="javascript:void(0)") Chad Verbowski
                    p PhD Student
                    
                .member
                    #blank.intro-face
                    a(href="javascript:void(0)") Chris Cummins
                    p PhD Student
                    
                .member
                    #pmpeis.intro-face
                    a(href="http://paschalis.mp/") Paschalis Mpeis
                    p PhD Student
            
        .sub-sections
            h2 Onwards and Upwards
            
        .content
            .container
                #blank.current-icon
                .current-name
                    a(href="javascript:void(0)") John Doe
                .current-bio
                    p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta quinta lectorum accumsan vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
                    
                .spacer
                
                #blank.current-icon
                .current-name
                    a(href="javascript:void(0)") Jane Snow
                .current-bio
                    p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta quinta lectorum accumsan vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
                
            
        #compucast.sections
            h2 Compucast
            p.binary 101
            
        .content
            .container
                #comp.current-icon
                .current-name
                    a(href="http://compucast.io/") Compucast
                .current-bio
                    p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta quinta lectorum accumsan vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
                
        #teaching.sections
            h2 Teaching
            p.binary 110
            
        .content
            .container
                p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam. Accumsan ut aliquip id quam esse. Mirum lobortis non imperdiet sequitur luptatum. Et nulla facer quarta adipiscing legentis. Autem humanitatis nobis typi dolore at. Dynamicus quarta quinta lectorum accumsan vel. Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc. Volutpat processus esse claritatem et in. Dignissim assum consequat futurum liber aliquam.
                
                .lists
                    b Dignissim assum consequat futurum liber aliquam.
                    p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
                    a a link
                    
                .lists
                    b Dignissim assum consequat futurum liber aliquam.
                    p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
                    a a link
                    
                .lists
                    b Dignissim assum consequat futurum liber aliquam.
                    p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
                    a a link

        include /pubs.pug

        #awards.sections
            h2 Awards
            p.binary 1000
                
        .content
            .container
                p Wisi et et quis gothica zzril. Illum tempor parum quis sed vulputate. Facit parum litterarum formas anteposuerit typi. Hendrerit dolore lorem in vel dynamicus. Aliquam nam praesent sequitur nobis enim. Doming claritatem quod formas congue etiam.
                
                .lists
                    b Dignissim assum consequat futurum liber aliquam.
                    p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
                    a a link
                    
                .lists
                    b Dignissim assum consequat futurum liber aliquam.
                    p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
                    a a link
                    
                .lists
                    b Dignissim assum consequat futurum liber aliquam.
                    p Ullamcorper clari duis modo commodo habent. Enim lobortis at ea congue nunc.
        
        #contact.sections
            h2 Contact
            p.binary 1001
        
        #footer
            .container
                .footer-division
                    p HUGH LEATHER
                    br
                    p School of Informatics
                    p Room 1.11, Informatics Forum
                    p 10 Crichton Street
                    p Edinburgh
                    p EH8 9AB
                    p United Kingdom
                    br
                    p +44 (0)131 650 2707
                    br
                    p hleather at inf dot ed dot ac dot uk
                    
                .footer-division
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.2686905755113!2d-3.189598984163583!3d55.94471478060516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c78447fcdee1%3A0xb4769668986c5918!2s10+Crichton+St%2C+Edinburgh+EH8+9AB!5e0!3m2!1sen!2suk!4v1466159639632" width="100%" height="222" frameborder="0" style="border:0" allowfullscreen></iframe>
            p#oddsok Copyright &copy; 2016. All rights reserved. Design by <a href="http://www.oddsok.com"> oddsok</a>

        script(style="text/javascript" src="js/jquery-2.1.4.min.js")
        script(style="text/javascript" src="js/functions.js")

        
    